<app-header></app-header>
<div class="vh-100 gradient-custom">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" align="center" >
      <a href="/product" >
        <img class="d-block w-50 "  src="\assets\image\IMG_20230308_222024.jpg" alt="product First slide" style="width: 600px; height: 250px;">
      </a>  
      </div>
    <div class="carousel-item" align="center">
      <a href="/product" >
      <img class="d-block w-50" src="\assets\image\5.jpg" alt="product Second slide" style="width: 600px; height: 250px;">
    </a>  
    </div>
    <div class="carousel-item" align="center">
      <a href="/product" >
      <img class="d-block w-50" src="\assets\image\IMG_20230308_222511.jpg" alt="procuct Third slide" style="width: 600px; height: 250px;">
        </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 400px; height: 250px;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 400px; height: 250px;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>
  <table border="0" style="width: 70%;" align="center" >
    <tr>
      <td>
        <div>
          <a href="/product">
            <img src="\assets\image\1.jpg" class="rounded float-left" alt="potli" width="200" height="300" style="padding:0;" >
          </a>
      </div>
      </td>
      <td>
      <div>
        <a href="/product" >
          <img src="\assets\image\2.jpg" class="rounded mx-auto d-block" alt="potli" width="200" height="300"  style="padding: 0;">
        </a>
        </div>
    </td>
   <td>
        <div>
          <a href="/product" >
            <img src="\assets\image\4.jpg" class="rounded float-right" alt="potli" width="200" height="300" style="padding: 0;">
          </a>
        </div>
        </td>
        <td>
          <div>
            <a href="/product" >
              <img src="\assets\image\3.jpg" class="rounded float-right" alt="potli" width="200" height="300" style="padding: 0;">
            </a>
          </div>
          </td>
    </tr>
     </table>
  <app-footer></app-footer>
</div>
  