.gradient-custom {
  /* fallback for old browsers */
  background: #bbc7e9;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, #bbc7e9,);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background: linear-gradient(to bottom right, #bbc7e9, #bbc7e9)
  }