.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card{
    padding: 20px;
    margin: 25px;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.container {
    background: #bbc7e9;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, #bbc7e9,);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background: linear-gradient(to bottom right, #bbc7e9, #bbc7e9)
}